@model ViewModels.General.MemberViewModel.CreateMemberViewModel


<form id="frm-Member" class="operationform" autocomplete="off">
    <div class="row">
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.FirstName"></label>
            <input type="text" asp-for="Person.FirstName" class="form-control persian" />
            <span asp-validation-for="Person.FirstName"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.LastName"></label>
            <input type="text" asp-for="Person.LastName" class="form-control persian" />
            <span asp-validation-for="Person.LastName"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.MobileNumber"></label>
            <input type="text" asp-for="Person.MobileNumber" class="form-control numeric" />
            <span asp-validation-for="Person.MobileNumber"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.PhoneNumber"></label>
            <input type="text" asp-for="Person.PhoneNumber" class="form-control numeric" />
            <span asp-validation-for="Person.PhoneNumber"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.NationalCode"></label>
            <input type="text" asp-for="Person.NationalCode" class="form-control numeric" />
            <span asp-validation-for="Person.NationalCode"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.Gender"></label>
            <select asp-for="Person.Gender" class="form-control selectpicker" title="انتخاب کنید">
                <option value="true">آقا</option>
                <option value="false">خانم</option>
            </select>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.Birthday"></label>
            <input type="text" asp-for="Person.Birthday" class="form-control datepicker" />
            <span asp-validation-for="Person.Birthday"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Person.Email"></label>
            <input type="text" asp-for="Person.Email" class="form-control" />
            <span asp-validation-for="Person.Email"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Member.UserName"></label>
            <input type="text" asp-for="Member.UserName" class="form-control" />
            <span asp-validation-for="Member.UserName"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Member.Active" class="w-100"></label>
            @Html.CheckBox("Member.Active", new { @class = "switch" })
            <span asp-validation-for="Member.Active"></span>
        </div>

        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 text-left">
            @{ if (Model.Member == null)
                {
                    <button type="submit" class="btn-add" />
                }
                else
                {
                    <input type="hidden" asp-for="Member.Id" />
                    <button type="submit" class="btn-edit" />
                }
            }
            <button type="button" class="btn-cancel" />
        </div>
    </div>
</form>

<script>
    $.getScript("/General/Business/Member/Create.js");
</script>
