<div class="card">
    <div class="card-header">
        @ViewBag.Title

        <button type="button" id="btnAdd" class="btn btn-success float-left"><i class="fa fa-plus"></i> جدید</button>
    </div>
    <div>

        <div id="frm-grid"></div>

    </div>
</div>

@section scripts {
    <script src="General/Member/Index.js"></script>
}