<div class="card">
    <div class="card-header">
        @ViewBag.Title

        <button type="button" id="btnAdd" class="btn-new"></button>
    </div>
    <div>

        <div id="frm-grid"></div>

    </div>
</div>

@section scripts {
    <script src="/General/Business/Member/Index.js"></script>
}