@model ViewModels.General.PermissionViewModel.CreatePermissionViewModel



<form id="frm-permission" method="post" class="operationform" autocomplete="off">
    <input type="hidden" asp-for="Permission.Id" class="Id" />
    <input type="hidden" asp-for="Permission.ParentId" />
    <input type="hidden" asp-for="Permission.Order" />
    <div class="row">
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Title"></label>
            <input type="text" asp-for="Permission.Title" class="form-control" />
            <span asp-validation-for="Permission.Title"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Controller"></label>
            <input type="text" asp-for="Permission.Controller" class="form-control ltr" onkeypress="return (event.charCode < 128)" />
            <span asp-validation-for="Permission.Controller"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Action"></label>
            <input type="text" asp-for="Permission.Action" class="form-control ltr" onkeypress="return (event.charCode < 128)" />
            <span asp-validation-for="Permission.Action"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Icon"></label>
            <input type="text" asp-for="Permission.Icon" class="form-control ltr" onkeypress="return (event.charCode < 128)" />
            <span asp-validation-for="Permission.Icon"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Active" class="w-100"></label>
            @Html.CheckBox("Permission.Active", new { @class = "switch" })
            <span asp-validation-for="Permission.Active"></span>
        </div>
        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Permission.Visible" class="w-100"></label>
            @Html.CheckBox("Permission.Visible", new { @class = "switch" })
            <span asp-validation-for="Permission.Visible"></span>
        </div>

        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 text-left">
            <button type="submit" class="btn-save" />
            <button type="button" class="btn-cancel" />
            <button type="button" class="btn-delete" />
        </div>
    </div>
</form>


<script src="General/Permission/Create.js"></script>
